#homepage {
    height: calc(100vh - 4.5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 5rem auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 1rem;
    width: 16rem;
    right: 2.3rem;
    object-fit: cover;
    z-index: -1;
    height: 100vh;
}

.homepageContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: rgb(209, 251, 209); */
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(209, 251, 209);
    margin-left: 1rem;
}

.webSight {
    color: red;
    cursor: pointer;
}

/* .webSight:hover {
    color: rgb(0, 38, 255);
} */

.introPara {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    /* text-shadow: 2px 2px 4px rgba(217, 255, 0, 0.686); */
    padding: 10px;
    border-radius: 5px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.introPara:hover {
    /* color: red; */
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: none;
    cursor: not-allowed;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media only screen and (max-width:1023.98px) {
    #homepage {
        display: none;
    }
}

/* @media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }
    .homepageContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw;
    }
} */