#homepage {
    height: calc(100vh - 4.5rem);
    /* background-color: aquamarine; */
    /* width: 100vw; */
    /* max-width: 100rem; */
    right: 0;
    top: 4rem;
    position: relative;
    left: 0;
    margin: 1rem auto;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.homepageContent {
    /* background-color: aliceblue; */
    height: 100vh;
    width: 90rem;
    /* left: 0; */
    /* right: 0; */
    padding: 0rem 2rem;
    font-size: 2.6rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position:relative;
}

.bg {
    /* background-color: antiquewhite; */
    position: relative;
    width: auto;
    top: 5rem;
    right: 2rem;
    object-fit: cover;
    z-index: 1;
    height: 100vh;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(64, 0, 255);
    margin-left: 1rem;
}

.webSight {
    color: red;
    cursor: pointer;
}

.introPara1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    /* background-color: rgb(220, 212, 202); */
    padding: 10px;
}

.introPara2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
    /* text-shadow: 2px 2px 4px rgba(217, 255, 0, 0.686); */
    padding: 10px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* .introPara2:hover {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

.btn {
    background: rgb(96, 118, 205);
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    font-weight: 700;
    cursor: not-allowed;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media only screen and (max-width:1023.98px) {
    #homepage {
        display: none;
    }
}

/* 
@media only screen and (max-width:1400px) { 
    #homepage {
        height: calc(100vh - 4.5rem);
        right: 0;
        top: 4rem;
        position: relative;
        overflow: hidden;
        position: relative;
        align-items: center;
        justify-content: center;     
        margin-bottom: -10rem;  
    }   
    .bg {
        position: absolute;
        right: 0;
        height: 110vh;
        width: 30rem;
        background-color: aqua;
    }
} */