#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;    /* Top,Bottom  Left,Right */
}

.worksTitle {
    margin: 1rem 0;    /* Top,Bottom  Left,Right */
    font-size: 2.2rem;
    color: rgb(194, 235, 235);
}

.work1Desc {
    font-weight: 400;
    font-size: 1rem;
    width: 50rem;
    text-align: justify;
    margin: 0.7rem 0 0 0;
}
.work2Desc {
    font-weight: 400;
    font-size: 1rem;
    width: 50rem;
    text-align: justify;
    margin: 0.7rem 2rem 0 0;
}
.work3Desc {
    font-weight: 400;
    font-size: 1rem;
    width: 50rem;
    text-align: justify;
    margin: 0.7rem 0 0 0;
}
.work4Desc {
    font-weight: 400;
    font-size: 1rem;
    width: 50rem;
    text-align: justify;
    margin: 0.7rem 0 0 0;
}

.worksImgs {
    /* background-color: rgb(171, 172, 172); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
    object-fit: cover;
}

#gmailImage {
    height: 10.6rem;
    width: 12rem;
}

.worksImg {
    height: 10.6rem;
    width: 12rem;
    /* background-color: rgb(165, 154, 154); */
    margin: 0rem 1rem 0rem 1rem;
    /* top, right, bottom, left*/
    border-radius: 1rem;
}

.work1 {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(169, 170, 171); */
}
.work2 {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(151, 152, 153); */
}
.work3 {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(109, 110, 111); */
}
.work4 {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(109, 110, 111); */
}

.seeMoreBtn {
    padding: 0.7rem 2.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 3rem 0;
    margin-top: 15px;
    cursor: progress;
}

@media only screen and (max-width:1023.98px) {
    #works {
        display: none;
    }
}