#about {
    /* background-color: rgb(218, 236, 236); */
    margin: 2rem auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    /* Top,Bottom  Left,Right */
}

#skills {
    overflow: hidden;
    width: 200w;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: -7rem 0rem 0rem 7rem;
}

.skillTitle {
    font-size: 1.8rem;
    /* color: rgb(205, 244, 231); */
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: -1rem;
}

.educationTitle {
    font-size: 1.7rem;
    /* color: rgb(205, 244, 231); */
    font-weight: 600;
    padding-top: 3rem;
    margin-left: 16rem;
    margin-bottom: -1rem;
}

.skillDesc {
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 60rem;
    padding: 0 2rem;
    margin-bottom: 0.8rem;
}

.skillBars {
    /* background-color: rgba(240, 248, 255, 0.684); */
    margin: 0.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 0.8rem;
    padding: 0.95rem 2rem;
    border-radius: 0.7rem;
    background: #fff;
    border: 0.1px solid #854CE6;
    box-shadow: rgba(7, 250, 250, 0.15) 0px 0px 18px;
}

.skillBarText {
    width: 70rem;
}

.instituteLogo {
    height: 4rem;
    margin-top: 0.8rem;
    margin-right: 1.9rem;
}

.yearPassed {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.instituteName {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.degreeName {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.locationName {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width:1023.98px) {
    #about {
        display: none;
    }
}

/* @media screen and (max-width:720px) {
    .skillBarText>p {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p {
        font-size: 3vw;
    }
    .instituteLogo {
        height: 2.25rem;
    }
    .skillBarText>h4 {
        font-size: 5vw;
    }
} */